@page "/Booking/{Id:int}"
@using BusinessLogic.DTOs
@using BusinessLogic.Services
@using UI.Data
@inherits AuthEnforce
@inject UserController User
@inject BookingService BookingService
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager

@code {
    private BookingDto _bookingDto;
    private int? _id;

    [Parameter]
    public int Id
    {
        get => _id ?? throw new NullReferenceException();
        set => _id = value;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        try
        {
            _bookingDto = BookingService.GetBooking(Id, User.CurrentCredentials);
        }
        catch (ArgumentException e)
        {
            NotificationService.ShowError(e.Message);
            NavigationManager.NavigateTo("/Bookings");
        }

        StateHasChanged();
    }

    private void ApproveBooking()
    {
        BookingService.ApproveBooking(Id, User.CurrentCredentials);
        _bookingDto = BookingService.GetBooking(Id, User.CurrentCredentials);
        NotificationService.ShowMessage("Booking approved successfully.");
        StateHasChanged();
    }

    private void RejectBooking()
    {
        BookingService.RejectBooking(_bookingDto, User.CurrentCredentials);
        _bookingDto = BookingService.GetBooking(Id, User.CurrentCredentials);
        NotificationService.ShowMessage("Booking rejected successfully.");
        StateHasChanged();
    }

}

<main class="responsive">
    <NavLink class="extra transparent vertical-margin left-align" href="/Bookings">
        <i>arrow_back</i>
    </NavLink>
    <h6 class="vertical-margin">
        Booking
        <span class="circle primary center-align middle-align left-margin">@Id</span>
        @if (User.IsAdmin && _bookingDto.Stage == "Pending")
        {
            <div class="absolute right">
                <button class="extend square round primary no-margin" @onclick="ApproveBooking">
                    <i>done</i>
                    <span>Approve</span>
                </button>
                <button class="extend square round error no-margin" data-ui="#reject-booking">
                    <i>close</i>
                    <span>Reject</span>
                </button>
            </div>
            <div class="medium-space"></div>
        }
    </h6>
    <article>
        <h6 class="small padding">
            Deposit:&nbsp;
            <a href="/Deposit/@_bookingDto.DepositName">
                <i>link</i>
                <b>@_bookingDto.DepositName</b>
            </a>
        </h6>
        <div class="divider"></div>
        @if (User.IsAdmin)
        {
            <h6 class="small padding">Email:&nbsp; <b>@_bookingDto.Email</b></h6>
            <div class="divider"></div>
        }
        <h6 class="small padding">From:&nbsp; <b>@_bookingDto.DateFrom</b></h6>
        <div class="divider"></div>
        <h6 class="small padding">To:&nbsp; <b>@_bookingDto.DateTo</b></h6>
        <div class="divider"></div>
        <h6 class="small padding">Stage:&nbsp; <b>@_bookingDto.Stage</b></h6>
        <div class="divider"></div>
        @if (_bookingDto.Stage == "Rejected")
        {
            <h6 class="small padding">Message:&nbsp; <b>@_bookingDto.Message</b></h6>
        }
    </article>
    <h6 class="vertical-margin large-margin">
        Payment
        <span class="circle primary center-align middle-align left-margin"><i>payments</i></span>
    </h6> 
    <article>
        @if (_bookingDto.Payment.HasValue)
        {
            <h6 class="small padding">Amount:&nbsp; <b>@_bookingDto.Payment.Value.Amount$</b></h6>
            <div class="divider"></div>
            <h6 class="small padding">
                Status:&nbsp;
                @if (@_bookingDto.Payment.Value.Captured)
                {
                    <b>Captured</b>
                }
                else
                {
                    <b>Reserved</b>
                }
            </h6>
        }
        else
        {
            <h6 class="small padding">No payment has been made yet.</h6>
        }
    </article>
</main>

@if (User.IsAdmin && _bookingDto.Stage == "Pending")
{
    <div class="medium-space"></div>
    <div class="overlay blur"></div>
    <dialog class="medium-width no-elevate" id="reject-booking">
        <div class="padding center-align">
            <i>book</i>
            <h6 class="center-align">Reject booking</h6>
        </div>
        <form @onsubmit="RejectBooking">
            <div class="field label border textarea">
                <textarea type="text" @bind="_bookingDto.Message" required></textarea>
                <label>Message</label>
            </div>
            <nav class="right-align no-space no-margin">
                <button class="transparent link" data-ui="#reject-booking">Cancel</button>
                <button type="submit" class="transparent link">Reject</button>
            </nav>
        </form>
    </dialog>
}