@page "/Deposit/{Id:int}"
@inherits AuthEnforce
@using BusinessLogic
@using BusinessLogic.DTOs
@using UI.Data
@inject AuthController Auth
@inject DepositController DepositController
@inject PromotionController PromotionController
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

@code {
    private ListDepositDto DepositDto { get; set; }
    private List<AddPromotionDto> Promotions { get; set; } = new();

    private int? _id;

    [Parameter]
    public int Id
    {
        get => _id ?? throw new NullReferenceException();
        set => _id = value;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        DepositDto = DepositController.GetDeposit(Id, Auth.CurrentCredentials);
        Promotions = DepositDto.PromotionList.Select(p => PromotionController.GetPromotion(p)).ToList();
        StateHasChanged();
    }

    private void DeleteDeposit()
    {
        try
        {
            DepositController.DeleteDeposit(Id, Auth.CurrentCredentials);
            NotificationService.ShowMessage($"Deposit with ID: {Id} deleted successfully.");
            NavigationManager.NavigateTo("/Deposits");
        }
        catch (ArgumentException e)
        {
            NotificationService.ShowError(e.Message);
        }
    }

}

<title>Deposits</title>

<main class="responsive">
    <NavLink class="extra transparent vertical-margin left-align" href="/Deposits">
        <i>arrow_back</i>
    </NavLink>
    <h6 class="vertical-margin">
        Deposit
        <span class="circle primary center-align middle-align left-margin">@Id</span>
        @if (Auth.IsAdmin)
        {
            <button class="extend square round error no-margin absolute right" @onclick="DeleteDeposit">
                <i>delete</i>
                <span>Delete</span>
            </button>
            <div class="medium-space"></div>
        }
    </h6>
    <article>
        <h6 class="small tiny-padding">Area:&nbsp; <b>@DepositDto.Area</b></h6>
        <div class="divider"></div>
        <h6 class="small tiny-padding">Size:&nbsp; <b>@DepositDto.Size</b></h6>
        <div class="divider"></div>
        <h6 class="small tiny-padding">Climate Control:&nbsp; <b>@(DepositDto.ClimateControl ? "Yes" : "No")</b></h6>
        <div class="divider"></div>
        @if (Promotions.Count == 0)
        {
            <h6 class="small tiny-padding">There are no available promotions for this deposit</h6>
        }
        else
        {
            <h6 class="small tiny-padding">There are the following promotions available for this deposit:</h6>
            @foreach (var promotion in Promotions)
            {
                <div class="button no-wave margin">
                    @promotion.Label
                    <div class="badge none">-@promotion.Discount%</div>
                </div>
            }
        }
    </article>
    <div class="small-space"></div>
    <h6 class="vertical-margin">Book now</h6>
    <article>
        <div class="grid">
            <div class="s12 m6 padding">
                <h6 class="small">Select the dates you want to book the deposit for:</h6>
                <div class="small-space"></div>
                <div class="field label suffix border">
                    <input type="date">
                    <label>From</label>
                    <i>calendar_today</i>
                </div>
                <div class="field label suffix border">
                    <input type="date">
                    <label>To</label>
                    <i>event_upcoming</i>
                </div>
            </div>
            <div class="s12 m6 padding secondary center-align middle-align">
                <div>
                    <p class="small-text bold no-margin">Final price:</p>
                    <h1 class="bold no-margin no-padding">$200</h1>
                </div>
            </div>
            <div class="s12 right-align">
                <button class="no-margin">
                    Book now
                </button>
            </div>
        </div>
    </article>
</main>